*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(21, 23, 60), rgb(109, 112, 115));
    margin: 50px auto;
    color: lightgray;
    text-align: center;
}

#le {
    font-size: .6em;
    font-family: sans-serif;
    font-weight: 300;
    color: lightgray;
    margin: 0 2px;
}

#morpion {
    font-family: serif;
    font-size: 1.4em;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
    margin: 40px auto;
    box-shadow: rgba(45, 94, 146, 0.8) 0 0 90px 33px;
}

.square {
    background-color: rgb(9, 9, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.commentary, .commentary-2 {
    font-family: sans-serif;
    font-weight: 300;
    color: lightgray;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.win-text {
    color: goldenrod;
    font-weight: 600;
}

.draw-text {
    color: salmon;
    font-weight: 600;
}

@media screen and (max-width: 440px) {
    .container {
        height: 250px;
        width: 250px;
    }
}